.navBar {
    width: 85%;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 7%;
    z-index: 10;
}

.navBar img {
    height: 70px;
}

.menu {
    display: flex;
}

.menuItemDisable {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 2px solid var(--borderColor);
}


.menuItems {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: var(--primaryColor);
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.menuItemActive {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    list-style: disc var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);

}

.navBar button {
    font-size: 18px;
    padding: 10px 15px;
    color: var(--white);
    border-radius: 30px;
    background-color: var(--primaryColor);
    /* background-color: transparent; */
    border: 1px solid var(--white);
}

@media only screen and (max-width: 600px) {
    /* .navBar {
            display: none;
        } */

    .navBarMob {
        padding: 10px 0px;
    }

    .navBarMob img {
        height: 50px;
    }

    .navBarMobBody {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navMobLogo {
        font-size: 25px;
        font-weight: 900;
    }
}